/* 
     Copyright  2006-17 QuePer

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
*/



SELECT * FROM t1_1_std_data_types_basic;

SELECT * FROM t2_1_multi_lingual_data_types;

SELECT * FROM t3_1_long_data_types; 
	
SELECT * FROM t4_1_non_std_data_types_1 ; 
